* {
    box-sizing: border-box;
}

@font-face {
    font-family: euro;
    src: url('../fonts/eurofurence_regular/eurofurence_regular.ttf');
}

@font-face {
    font-family: lato-regular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: maven-regular;
    src: url('../fonts/MavenPro-Regular.ttf');
}

body {
    margin: 0;
}

a {
    font-family: lato-regular;
    text-decoration: none;
    color: #fff;    
    /* height: 100%; */
}

a .active {
    color: #2eb398; 
}

h2 {
    margin: 0;
    text-transform: capitalize;
}

h3 {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* Helpers */
.container {
    /* max-width: 700px; */
    justify-content: center;
    margin: 0 100px;
    /* padding: 0 20px; */
    /* border: solid 1px #e1e0e0; */
}

/* lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* hide/show */
.hidden {
    display: none;
    /* visibility: hidden; */
}

/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}

.btn-width {
    width: 100%;
}
/* *************************************************************** */

/* HEADER helpers */

header {
    height: 60px;
    background-color: #323232;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.menu-item {
    margin: auto 20px;
}

/* li a.active {
    color: #2eb398; 
} */

.nav-arrow {
    font-size: 50px;
    z-index: 1;
}

.btn-group .btn {
    float: left;
    border: 1px solid black;
}

.btn-group .btn:not(:last-child) {
    border-right: none; /* Prevent double borders */
}



/* ********************************************************************* */
/* MAIN */

main {
    align-items: center;
}

main div button.btn-back, main ul li>button {
    background-color: #2eb398;
    color: #d7fcf5;
}


.my-profile {
    height: 340px;
    background-color: #2eb398;
    color: #fff;
}

.my-profile .img {
    width: 180px;
    height: 200px;
    /* align-self: center; */
    margin: 20px;
}

.my-profile .container {
    align-self: center;
    height: 95%;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    margin: 10px 100px;
}

.text-profile {
    margin: 20px;
}

/* contact  */

.contact {
    width: 100%;
    height: 560px;
    background-color: #323232;
    color: #e0e0e0;
}

.contact-info {
    display: flex;
    margin: 100px;
}

.form-contact {
    width: 70%;
    margin-right: 20px;
    font-family: maven-regular;
}

.form-contact h3 {
    margin-bottom: 15px;
}

.form-contact input, textarea {
    height: 40px;
    margin-bottom: 15px;
    background-color: #454545;
    color: #e0e0e0;
    border: none;

}

.form-contact textarea {
    height: 150px;
}

.form-contact button {
    align-self: flex-end;
    width: 90px;
    height: 40px;
    background-color: #2eb398;
    color: #d7fcf5;
    border: none;
    
}

.text-contact {
    width: 30%;
}

.font-bold {
    font-weight: 700;
}


/* galery */



.galery-imgs-container .img {
    width: 180px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin: 10px;
}

/* canvas */
#cnavas {
    border: 1px solid black;
}

.canvas-container {
    width: 50%;
}

/* editor */
.meme-editor-container li{
    margin-bottom: 10px;   
    background-color: #323232; 
}
.first-line, .second-line{
    width: 270px;
    background-color: #454545;
    color: #e0e0e0;
    border: none;
}

.text-editors {
    width: 300px;
    /* max-height: 100px; */
}


.meme-editor-line1, .meme-editor-line2 {
    width: 350px;
    height: 70px;  
    border: 1px solid black;
    padding: 10px;
}

/* footer */

footer {
    background-color: #000;
    color: #454545;
    height: 50px;
}