* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: euro;
    src: url('../fonts/eurofurence_regular.ttf');
}

@font-face {
    font-family: lato-regular;
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: lato-bold;
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: maven-regular;
    src: url('../fonts/MavenPro-Regular.ttf');
}

@font-face {
    font-family: impact-regular;
    src: url('../fonts/impact/impact.ttf');
}

body {
    margin: 0;
    font-size: 16px;
    /* background: rgba(0, 0, 0, 0.664); */
    background: rgba(235, 247, 244, 0.938);
}

header a {
    font-family: lato-regular;
    text-decoration: none;
    color: #fff;    
    /* height: 100%; */
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a .active {
    color: #2eb398; 
}

h2 {
    margin: 0;
    text-transform: capitalize;
}

h3 {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* Helpers */
.container {
    /* max-width: 700px; */
    justify-content: center;
    margin: 0 100px;
    /* padding: 0 20px; */
    /* border: solid 1px #e1e0e0; */
}

/* lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* hide/show */
.hidden {
    display: none;
    /* visibility: hidden; */
}

/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}

/* .btn-width {
    width: 100%;
}

.btn-height {
    height: 50px;
} */
/* *************************************************************** */

/* HEADER helpers */

header {
    height: 60px;
    background-color: #323232;
    position: fixed;
    width: 100%;
    z-index: 1000;

}



nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hamburger-menu {
    display: none;


}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

.show-menu {
    display: flex;
    /* right: 0; */
    transform: translate(0);
}


.menu-dot {
    color:  rgb(57, 210, 210);
    align-self: center;
    font-weight: 500;
}

.menu-item {
    margin: auto 20px;
}

li a.active {
    color: #2eb398; 
}

.nav-arrow {
    font-size: 50px;
    z-index: 1;
}

.btn-group .btn {
    float: left;
    border: 1px solid black;
}

.btn-group .btn:not(:last-child) {
    border-right: none; /* Prevent double borders */
}



/* ********************************************************************* */
/* MAIN */

.main-page-container {
    position: relative;
    top: 60px;
}

.searchBox {
    margin: 10px;
}
.btn-filter {
    padding: 10px;
    margin: 10px;
}



.memeMapSearch {
    max-height: 250px;
    /* background-color: yellow; */
}

.memeMapSearch a.key {
    color: #323232;

}

main {
    align-items: center;
}

.btn-back {
    /* margin-top: 20px; */
    width: 100%;
    height: 50px;
}

/* main div button.btn-back, main ul li>button, .font-family{
    background-color:  rgba(0, 128, 128, 0.8);
    color: #d7fcf5;
    
} */
.selected-font {
    background-color: #454545;
    color: antiquewhite;
}


.my-profile {
    height: 340px;
    background-color:  rgba(0, 128, 128, 0.8);
    color: #fff;
}

.my-profile .img {
    width: 180px;
    height: 200px;
    /* align-self: center; */
    margin: 20px;
}

.my-profile .container {
    align-self: center;
    height: 95%;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    margin: 10px 100px;
}

.text-profile {
    margin: 20px;
}
.fb-share {
    padding-left: 0;
}
.social-share-btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    /* width: 100%; */
  }


  /*--------About--------*/

section.about-us {
    background-color: rgba(0, 128, 128, 0.8);
    padding: 0 20px;
}

.about-container {
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
}

#profile1 .profile-pic {
    margin-right: 20px;
}


.about-txt {
    padding: 10px;
}

.about-us h2 {
    margin: 0;
    color: #d7fcf5; 
}
.about-us h3 {
    margin-top: 5px;
    color: #2081B6;
}
.about-us p {
    color: #d7fcf5;
}

.profile {
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
}


#profile1 ul {
    justify-content: flex-end;
}

/* contact  */

.contact {
    width: 100%;
    height: 560px;
    background-color: #323232;
    color: #e0e0e0;
    
}

.contact-info {
    display: flex;
    padding: 20px;
}

.form-contact {
    width: 70%;
    margin-right: 20px;
    font-family: maven-regular;
}

.form-contact h3 {
    margin-bottom: 15px;
}

.form-contact input, textarea {
    height: 40px;
    margin-bottom: 15px;
    background-color: #454545;
    color: #e0e0e0;
    border: none;

}

.form-contact textarea {
    height: 150px;
}

.form-contact button {
    align-self: flex-end;
    width: 90px;
    height: 40px;
    background-color:  rgba(0, 128, 128, 0.8);
    color: #d7fcf5;
    border: none;
    
}

.text-contact {
    width: 30%;
}

.font-bold {
    font-weight: 700;
}


/* galery */

.black-n-white {
    filter: grayscale(90%);
    /* filter: opacity(0.2); */
}

.galery img:hover {
  
    filter: none;
    /* transform: scale(1.5);   */
}


li.hex:hover {
    transform: scale(1.1);
    z-index: 110;
}

.galery-imgs-container .img {
    width: 180px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin: 10px;
    cursor: pointer;
}

/* canvas */
.meme-main-container {
    position: relative;
    top: 60px;
    background-color: #323232;
}

.canvas {
    border: 1px solid black;
    width: 100%;
}

.canvas-container {
    width: 50%;
}

/* editor */

.meme-editor-container {
    width: 300px;
}
.meme-editor-container li{
    margin-bottom: 10px;   
    background-color: #323232; 
}

.color-n-font * {
    width: 100%;
}

.color-picker {
    /* align-self: center; */
    height: 45px;
    border-radius: 4px;
    background-color: #454545;
}
.font-family {
    width: 100%;
    background-color: #454545;
    color: #e0e0e0;
    margin-top: 10px;
}
.canvas-and-editor-container {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 160px);
    
}
.first-line, .second-line{
    width: 100%;
    background-color: #454545;
    color: #e0e0e0;
    border: none;
    /* margin-l eft: 5px; */
    padding-left: 5px;
    line-height: 40px;
}

.text-editors {
    width: 100%;
    align-items: center;
    margin-top: 10px; 
    /* max-height: 100px; */
}

.add-remove-line {
    margin-top: 10px;
}

li .download {

    /* color: #d7fcf5; */
    align-items: center;
    position: relative;
    width: 100%;
}

button.download {
    background-color: rgba(0, 128, 128, 0.8);
}



.meme-editor-line1 .btn {
    min-width: 45px;
    min-height: 45px;
    background-color: #454545;
    color: #e0e0e0;

}

.meme-editor-line1 {
    width: 100%;
    height: 150px;  
    /* border: 1px solid black; */
    /* padding: 5px; */
}

/* .text-functions * {
    width: 30%;
} */

/* footer */

footer {
    background-color: #000;
    color: #454545;
    height: 50px;
    position: relative;
    top: 60px;
}

.btn-publish {
    width: 100%;
    background-color: #4267b2;
}

.btn-share a {
    margin-top: 10px;
}

@media only screen and (max-width: 780px) {
    .canvas-container {
        width: 100%;
    }
    
    


}

@media only screen and (max-width: 700px) {
    #memeMapSearch {
        display: none;
    }
}

@media only screen and (max-width: 520px) {
    .menu {
        display: none;
        width: 100%;
        background-color: #323232;
        top: 60px;
        opacity: 0.9;
        position: relative;
        font-size: 18px;
        text-align: center;
    }
    .nav-arrow, .menu-dot {
        display: none;
    }
    .open {
        display: block
    }

    .hamburger-menu {
        
        right: 0;
    position: absolute;
        top: 10px;
        display: inline-block;
        cursor: pointer;
        transform: scale(0.5);
        
    }
    .menu-item{
        padding: 10px
    }

    .text-contact p {
        display: none;
    }
}




/* .meme-editor-container .btn {

	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;

	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {

	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
} */
